/* Style pour les labels */
label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    color: black;
}

/* Style pour les champs de texte */
input[type="text"],
input[type="password"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    color: black;
    


}

/* Style pour les boutons */
.btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: #007bff;
}

/* Style pour le message d'erreur */
#name-erreur,
#lastname-erreur,
#mail-erreur,
#mdp-erreur {
    margin-top: 5px;
    font-size: 14px;
}